<div class="menu-header">
  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
      <a class="active item">
        Home
      </a>
      <a href="menu" class="item">
        Menu
      </a>
      <a href="contact" class="item">
        Contact Us
      </a>
      <div class ="right menu">
        <a href="cart" class="<%= get_cart.item_count %>" style="margin-top: 10px; margin-right: 10px; color: white">
          Items in your cart: <%= get_cart.item_count %>
          <i class="shopping basket icon" style="float: right; margin-left: 10px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<a href="cart" class="checkout-label hidden">
  <div class="ui pointing large label red" style="float: right; margin-right: 10px;">
              Click here to Checkout
  </div>
</a>

<div class="welcome">
  <div class="menu fourteen wide column">
    <div class="ui raised very padded text container segment">
      <%= image_tag "logo.png", class: "logo" %>
      <div class="welcome-header">
          <h4>Best BahnMi in town</h4>
      </div>
      <div class="welcome-nav">
        <a href="menu">
        <button class="ui black animated button" tabindex="0" style="width: 111px;">
          <div class="visible content">Menu</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        </a>
        <a href="contact">
          <button class="ui black animated button" tabindex="0">
              <div class="visible content">Contact Us</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>