<div class="welcome">
  <div class="welcome-header">
      <h1>BahnMi362</h1>
      <h4>Best BahnMi in town</h4>
  </div>
  <div class="welcome-nav">
    <div class="ui black animated button" tabindex="0">
      <div class="visible content">Menu</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
    <div class="ui black animated button" tabindex="0">
      <div class="visible content">About Us</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div>
</div>