<div class="menu-header">
  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
      <a href="/"  class="item">
        Home
      </a>
      <a href="menu" class="item">
        Menu
      </a>
      <a href="contact" class="item">
        Contact Us
      </a>
      <div class ="right menu">
        <a href="cart" style="margin-top: 10px; margin-right: 10px; color: white">
          Items in your cart: <%= get_cart.item_count %>
          <i class="shopping basket icon" style="float: right; margin-left: 10px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="ui raised very padded text container segment" style="padding: 20px;">
    <div class="cart-header">
        <h1>Your Order:</h1>
    </div>
    
  </div>
</div>