// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #eedec5;
}

div.welcome{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

div.contact{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

div.menu{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

div.container{
  border-radius: 5px;
  text-align: center;
}

div.welcome-nav{
    margin-top: 50px;
    margin-bottom: 50px;
}

div.contact-header{
  margin-top: 10px;
  margin-bottom: 25px;
}

div.menu-header{
  background: black;
}

img.logo{
  width: 200px;
}

div.address{
  margin-top: 10px;
  margin-bottom: 10px;
}